body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header img {
    width: 120px;
    height: auto;
    max-height: 50px;
    vertical-align: middle;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-top: 0;
}

.option.selected {
    background-color: #007bff;
    color: #fff;
}

#prev-button, #next-button {
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    width: 150px;
    height: 50px;
}

#prev-button {
    background-color: #dc3545; /* Red */
}

#next-button {
    background-color: #28a745; /* Green */
}

#submit-button {
    background-color: #007bff; /* Blue */
}

#result-container {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#score {
    font-size: 24px;
    margin-top: 10px;
}
